*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
   background: linear-gradient(rgb(255, 255, 255),black);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(67, 70, 241);
    position:absolute;
    clip-path: circle(20% at right 70%);
    z-index: -1;
}

.con{
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    color: rgb(8, 8, 8);
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    margin: 0 6px;
    
}
nav ul li a{
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-size: 25px;
    cursor:grabbing;
    
}

nav ul li a:hover{
    color: rgb(103, 87, 245);
}


.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.cont.text{
    color: white;
    width: 40%;
}
.up{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700px;
    letter-spacing: 3px;
}
.p{
    color: white;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
    letter-spacing: 1px;
}

.cont.img{
    width: 40%;
}
.img{
    margin-bottom: 100px;
    width: 350px;
}
.p::selection{
    background-color: rgb(150, 152, 255);
    color: rgb(0, 0, 0);

}